html {
    font-family: 'Roboto', sans-serif;
}
header {
    text-align: center;
    display: block;
    font-size: 30px;
    padding: 10px;
    
}

nav {
    
    text-align: center;
    display: block;
    font-size: 20px;
       
}

#nav{
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
    text-align: center;
    
}

#banner {
    display: block;
    margin-left: 70px;
    margin-top: 50px;
    width: 1200px;
    height: 500px;
}

#autor {
    text-align: center;
    margin: 100px;
   
}
